extends layout

block content
        h2 Qui suis-je ?
        p Yves Maire du Poset est président de <strong>PILOTER MA CARRIERE</strong>, un cabinet spécialisé qui aide les cadres à développer leur <strong>marketing personnel</strong>. Pour plus d'informations, visitez le site internet sur 
            a(href='http://www.pilotermacarriere.com') pilotermacarriere.com
