div(class='top-navigation')
        nav(role='navigation' id='site-nav' class='nav')
                ul
                        li
                                a(href='/apropos') A PROPOS
                        li
                                a(href='/posts') POSTS
                        li
                                a(href='/livres') MES LIVRES
                                
