extends layout

block content
        div(class='head-space')
        h2= post.title
        div(class='abstract')= post.abstract
        div(class='content' id='content')= post.content
block scripts
        script(src='/js/marked.min.js')
        script.
                document.getElementById('content').innerHTML = marked($('#content').text())
                $("blockquote").addClass('blockquote');
