div(class='col-md-3')
        div(class='site-name')
                a(href='/') Vous avez dit Ressources Humaines ?
        div(class='head-space')
        div(class='author')
                img(src='/images/ymdp.jpg' class='bio-photo')
                h3 Yves Maire du Poset
                p(class='bio-legend') Consultant spécialiste des Ressources Humaines
                
